.login {
  &-wrapper {
    display: flex;
    flex-flow: column;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 2px 45px #aaaaaa36;
    width: 300px;
    border-radius: 5px;

    /*
     Commenting CSS
    */
    input {
      width: 300px;
      height: 40px;
      padding: 10px;
      margin-bottom: 10px;
    }
    button {
      height: 50px;
      width: 300px;
      color: white;
      background: green;
      transition: background 0.2s ease-in-out;
      border: none;
      &:hover {
        background: #1282b5;
      }
    }
  }

  &-header {
    color: blue;
    font-weight: 400;
  }
}
