.counter {
  &-wrapper {
    width: 350px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 45px #aaaaaa36;
    margin: 50px;
  }
  &-header {
    color: #03a9f4;
    font-family: sans-serif;
    font-weight: 400;
  }
  &-result {
    padding: 20px;
  }

  &-button {
    cursor: pointer;
    height: 30px;
    width: 300;
    color: white;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #28882c;
    }
  }
}
